body {
    height: auto;
    min-height: 100vh;
    .loaders_container {
        padding: 20px;
        margin: 0 auto;
        width: 700px;
        text-align: center;
        font-size: 0;
        
        .container {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          padding: 30px;
          width: 25%;
          height: 140px;
          .circle {
              box-sizing: border-box;
              width: 80px;
              height: 80px;
              border-radius: 100%;
              border: 10px solid rgba(255, 255, 255, 0.2);
              border-top-color: #FFF;
              animation: spin 1s infinite linear;
              @keyframes spin { 
                  100% { 
                    transform: rotate(360deg); 
                  } 
              } 
          }
        }
    }

    .top {
        height: 100%;
        padding: 0px 200px;
        .top_inner {
            background-color: darksalmon;
            height: 100%;
            min-height: 100vh;
            padding: 0px 30px;
            padding-bottom: 20px;
            .search_input_block {
                height: fit-content;
                padding-top: 20px;
                .search {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    .title {
                        display: flex;
                        padding: 0px 20px;
                        background-color: #fc9;
                        height: 100%;
                        align-items: center;
                        padding: 0px 20px;
                        border-radius: 50px 0px 0px 50px;
                        justify-content: center;
                        width: 120px;
                    }
                    .input_text_block {
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        height: 100%;
                        width: 100%;
                        background-color: white;
                        input[type="text"] {
                            height: 100%;
                            outline: none;
                            width: 100%;
                            padding: 10px 0px;
                        } 
                    }
                    .btn_block {
                        width: 100px;
                        height: 100%;
                        background-color: white;
                        border-radius: 0px 50px 50px 0px;
                        button {
                            margin: 5px;
                            border-radius: 50px;
                            background-color: #000;
                            color: white;
                            height: calc(100% - 10px);
                            width: calc(100% - 10px);
                        }
                    }

                }
            }
            .result_contents_block {
                padding-top: 20px;
                .book_table {
                    width: 100%;
                    table-layout: fixed;
                    margin-bottom: 20px;
                    tr {
                        border: 1px solid #000;
                        height: 100px;
                        &:nth-child(1) {
                            height: 50px;
                        }
                        th{ 
                            &:nth-child(1) {
                                width: 50px;
                            }
                            &:nth-child(2) {
                                width: 100px;
                            }
                            &:nth-child(3) {
                                width: 100px;
                            }
                            &:nth-child(4) {
                                width: 100px;
                            }
                            &:nth-child(5) {
                                width: 100px;
                            }
                        }
                        td {
                            padding: 5px;
                            &:nth-child(1) {
                                img {
                                    margin:5px;
                                    display: block;
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            &:nth-child(2) {
                                p {
                                    display: -webkit-box;
                                    overflow: hidden;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 4;
                                }
                            }
                            &:nth-child(4) {
                                p {
                                    display: -webkit-box;
                                    overflow: hidden;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 4;
                                }
                            }
                            &:nth-child(5) {
                                p {
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    a {
                                        color: #0000EE;
                                    }
                                }
                            }
                        }
                    }        
                }
                .btns_block {
                    text-align: center;
                    .current_page {
                        padding: 0px 20px;
                    }
                    .prev_btn, .next_btn {
                        &:disabled {
                            border: 1px solid #AAA;
                            color: #AAA;
                        }
                        padding: 5px 10px;
                        border: 1px solid #000;
                        border-radius: 5px;
                        background: white;
                    }
                }
            }
        }
    }

}